/* below the fold CSS goes here */
@font-face { 
    font-family:"MierB03";
    src:url("./fonts/MierB03-SubsetEng-Regular.woff2") format("woff2"),url("./fonts/MierB03-SubsetEng-Regular.woff") format("woff");
    font-style:normal;
    font-weight:400;
    font-display:swap;
  } 
  @font-face { 
    font-family:"MierB03";
    src:url("./fonts/MierB03-SubsetEng-Bold.woff2") format("woff2"),url("./fonts/MierB03-SubsetEng-Bold.woff") format("woff");
    font-style:normal;
    font-weight:700;
    font-display:swap;
  } 
  @font-face { 
    font-family:"MierB03";
    src:url("./fonts/MierB03-SubsetEng-ExtraBold.woff2") format("woff2"),url("./fonts/MierB03-SubsetEng-ExtraBold.woff") format("woff");
    font-style:normal;
    font-weight:750;
    font-display:swap;
  } 